@tailwind base;
@tailwind components;
@tailwind utilities;

.tiptap {
  p.is-editor-empty:first-child::before {
    color: var(--gray-4);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}

.is-active {
  background-color: #ddd;
  font-weight: bold;
}
